<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- <material name="grey">
        <color rgba="0.5 0.5 0.5 1.0"/>
    </material>
    <material name="blue">
        <color rgba="0.0 0.0 0.5 1.0"/>
    </material>
    <material name="dark_green">
        <color rgba="0.0 0.4 0 1"/>
    </material>
    <material name="light_green">
        <color rgba="0.0 1.0 0 1"/>
    </material> -->
    <link name="base_arm_link">
        <visual>
            <geometry>
                <box size="0.4 0.4 0.1"/>
            </geometry>
            <origin xyz="0.0 0.0 0.05" rpy="0.0 0.0 0.0"/>
            <material name="grey"/>
        </visual>
        <collision>
            <geometry>
                <box size="0.4 0.4 0.1"/>
            </geometry>
            <origin xyz="0.0 0.0 0.05" rpy="0.0 0.0 0.0"/>
        </collision>
    </link>
    <link name="amr_link">
        <visual>
            <geometry>
                <cylinder radius="0.05" length="0.1"/>
            </geometry>
            <origin xyz="0.0 0.0 0.05" rpy="0.0 0.0 0.0"/>
            <material name="dark_green"/>
        </visual>
        <collision>
            <geometry>
                <box size="0.1 0.1 0.1"/>
            </geometry>
            <origin xyz="0.0 0.0 0.05" rpy="0.0 0.0 0.0"/>
        </collision>
    </link>
    <link name="forearm_link">
        <visual>
            <geometry>
                <cylinder radius="0.05" length="0.1"/>
            </geometry>
            <origin xyz="0.0 0.0 0.05" rpy="0.0 0.0 0.0"/>
            <material name="light_green"/>
        </visual>
        <collision>
            <geometry>
                <box size="0.1 0.1 0.1"/>
            </geometry>
            <origin xyz="0.0 0.0 0.05" rpy="0.0 0.0 0.0"/>
        </collision>
    </link>
    <link name="forearm_link2">
        <visual>
            <geometry>
                <cylinder radius="0.05" length="0.1"/>
            </geometry>
            <origin xyz="0.0 0.0 0.05" rpy="0.0 0.0 0.0"/>
            <material name="grey"/>
        </visual>
        <collision>
            <geometry>
                <box size="0.1 0.1 0.1"/>
            </geometry>
            <origin xyz="0.0 0.0 0.05" rpy="0.0 0.0 0.0"/>
        </collision>
    </link>
    <link name="hand_link">
        <visual>
            <geometry>
                <box size="0.1 0.1 0.02"/>
            </geometry>
            <origin xyz="0.0 0.0 0.01" rpy="0.0 0.0 0.0"/>
            <material name="blue"/>
        </visual>
        <collision>
            <geometry>
                <box size="0.1 0.1 0.02"/>
            </geometry>
            <origin xyz="0.0 0.0 0.01" rpy="0.0 0.0 0.0"/>
        </collision>
    </link>
    <link name="tool_link">

    </link>
    <joint name="joint1" type="revolute">
        <origin xyz="0.0 0.0 0.1" rpy="0.0 0.0 0.0"/>
        <parent link="base_arm_link"/>
        <child link="amr_link"/>
        <axis xyz="0.0 0.0 1.0"/>
        <limit lower="-1.57" upper="1.57" effort="1000.0" velocity="1.0"/>
    </joint>
    <joint name="joint2" type="revolute">
        <origin xyz="0.0 0.0 0.1" rpy="0.0 0.0 0.0"/>
        <parent link="amr_link"/>
        <child link="forearm_link"/>
        <axis xyz="0.0 1.0 0.0"/>
        <limit lower="-1.57" upper="1.57" effort="1000.0" velocity="1.0"/>
    </joint>
    <joint name="joint3" type="revolute">
        <origin xyz="0.0 0.0 0.1" rpy="0.0 0.0 0.0"/>
        <parent link="forearm_link"/>
        <child link="forearm_link2"/>
        <axis xyz="0.0 1.0 0.0"/>
        <limit lower="-1.57" upper="1.57" effort="1000.0" velocity="1.0"/>
    </joint>
    <joint name="joint4" type="revolute">
        <origin xyz="0.0 0.0 0.1" rpy="0.0 0.0 0.0"/>
        <parent link="forearm_link2"/>
        <child link="hand_link"/>
        <axis xyz="0.0 0.0 1.0"/>
        <limit lower="-1.57" upper="1.57" effort="1000.0" velocity="1.0"/>
    </joint>
    <joint name="hand_tool_joint" type="fixed">
        <origin xyz="0.0 0.0 0.02" rpy="0.0 0.0 0.0"/>
        <parent link="hand_link"/>
        <child link="tool_link"/>
    </joint>

</robot>

